<nav class="navbar navbar-expand-lg navbar-light bg-light mx-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div class="d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"> Angular Email </a>
          </li>

          <li class="nav-item" routerLinkActive="active bg-body-secondary">
            <a class="nav-link" routerLink="/inbox"> inbox </a>
          </li>

          <li class="nav-item" *ngIf="signedin$|async">
            <a class="nav-link" routerLink="/signout" routerLinkActive="active">
              signout
            </a>
          </li>

        </div>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
