<form  (ngSubmit)="onSubmit()" [formGroup]="emailForm">
  <app-input [control]="$any(emailForm.get('to'))" inputType="email" label="To">
  </app-input>

  <app-input [control]="$any(emailForm.get('from'))" inputType="email" label="From">
  </app-input>

  <app-input [control]="$any(emailForm.get('subject'))" inputType="text" label="Subject">
  </app-input>

  <app-input  [control]="$any(emailForm.get('text'))" label="Content">
  </app-input>
  <div class="my-3">
   <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
  </div>
</form>
